<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>登录界面.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90E33E92C0CA47B004193E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90E34042C0CA47D004193E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90E340E2C0CA47D004193E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
